.column {
    float: left;
    width: 33.33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.tm-site-title {
    font-size: 100%;
    text-transform: uppercase;
  }
  .tm-bg-dark {
    background: rgba(114, 171, 194, 0.7);
    border-radius: 20%;
  }
  .tm-site-header-box {
    text-align: center;
    display: center;
    padding: 15% 15% 15% 15%;
    margin: 15% 15% 15%;
  }
  .body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20%;
    color: #b67979;
    overflow-x: hidden;
    background-color: #25332e;
  }
  .drake-button{
    display: grid;
    color: rgb(204, 122, 122);
    background: rgb(102, 160, 76);
    padding: 10px 10px 10px 10px ;
    border-radius: 25px;
    margin-bottom: 2%;
    width: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    text-align: center;
  }
  .james-button{
    display: grid;
    color: rgb(204, 122, 122);
    background: rgb(160, 76, 153);
    padding: 10px 10px 10px 10px ;
    border-radius: 25px;
    width: flex;
    margin: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    text-align: center;
  }
  .bradens-button{
    display: grid;
    color: rgb(209, 24, 24);
    background: rgb(207, 103, 18);
    padding: 10px 10px 10px 10px ;
    border-radius: 25px;
    margin-bottom: 2%;
    width: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    text-align: center;
  }
  .tm-navbar-menu:hover {
    color: #950000;
    text-decoration: none;
  }
  
  .worldle-nav {
    margin: 30px;
    text-transform: uppercase;
  }
  
  .tm-nav-links {
    list-style: none;
  }
  
  .tm-nav-link:link,
  .tm-nav-link:visited {
    border-radius: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5% 10%;
    display: center;
    margin-bottom: 2%;
    text-align: center;
  }
  
  .tm-nav-item.active .tm-nav-link,
  .tm-nav-link:hover,
  .tm-nav-link:focus {
    text-decoration: none;
    color: #950000;
  }